:host {
    display: block;
    height: 100%;
  }
  
  mat-drawer-container {
    height: 100%;
    background-color: #dddddd;
    background-size: cover;
  }
  
  .skeleton-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .skeleton-scroll {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    overflow-y: auto;
  }