<app-skeleton>
  <div class="welcome-container">
    <div class="welcome-card">
      <h1 class="welcome-title">Bienvenido {{nombreEmpresa}}</h1>
      
      <div class="button-container">
        <button [routerLink]="['/asset-management/locations']" class="custom-button">Gestion de Activos</button>
        <button [routerLink]="['/reports/menu']" class="custom-button">Informes</button>
        <button [routerLink]="['/users-management/']" class="custom-button">Gestión de Usuarios</button>
        <button (click)="logOut()" class="custom-button">Cerrar Sesion</button>
      </div>
    </div>
  </div>
 </app-skeleton>