<div class="reset-container">
    <div class="reset-card">
      <div class="reset-header">
        <h1>Restablecer Contraseña</h1>
        <p>axAssetControl</p>
      </div>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nueva Contraseña</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="newPassword"
            placeholder="Ingrese su nueva contraseña"
            autocomplete="new-password">
          <mat-icon matPrefix>lock</mat-icon>
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="'Mostrar contraseña'"
            [attr.aria-pressed]="!hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (resetForm.get('newPassword')?.hasError('required')) {
            <mat-error>
                La contraseña es requerida
              </mat-error>
          }
          @if (resetForm.get('newPassword')?.hasError('minlength')) {
            <mat-error>
                Debe tener al menos 6 caracteres
              </mat-error>
          }
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Confirmar Contraseña</mat-label>
          <input
            matInput
            [type]="hideConfirm ? 'password' : 'text'"
            formControlName="confirmPassword"
            placeholder="Confirme su contraseña"
            autocomplete="new-password">
          <mat-icon matPrefix>lock</mat-icon>
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleConfirmVisibility()"
            [attr.aria-label]="'Mostrar contraseña'"
            [attr.aria-pressed]="!hideConfirm">
            <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (resetForm.get('confirmPassword')?.hasError('required')) {
            <mat-error>
                Este campo es obligatorio
              </mat-error>
          } 
        </mat-form-field>
  
        <button
          (click)="onSubmit()"
          type="submit"
          mat-flat-button
          class="reset-button"
          [disabled]="resetForm.invalid || isLoading">
          @if (!isLoading) {
            <span>Confirmar cambios</span>
          }
          @if (isLoading) {
            <mat-spinner diameter="24"></mat-spinner>
          }
        </button>
      </form>
    </div>
  </div>
  