<app-skeleton>
    <div class="container-fluid p-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Grupo izquierdo: Botón volver y título -->
        <div class="d-flex align-items-center">
          <button [routerLink]="['/asset-management/subsector/', sectorId]" class="back-button">
            <i class="arrow-left"></i>
          </button>
          <h2 class="titulo-locaciones">Activos</h2>
        </div>
      
        <!-- Grupo derecho: Filtrar, Buscar y Agregar -->
        <div class="d-flex align-items-center">
          <select #sel="ngModel" class="form-select custom-select" [(ngModel)]="filtro" (change)="OrdenarActivos(sel.value)">
            <option value="" disabled selected>Filtrar</option>
            <option value="sin">Sin filtro</option>
            <option value="asc">Ascendente (A-Z)</option>
            <option value="desc">Descendente (Z-A)</option>
            <option value="baja">Dados de baja</option>
          </select>
          <div class="position-relative me-3">
            <input [formControl]="searchControl" type="text" class="form-control buscar-input" placeholder="Buscar por nombre...">
          </div>
          @if (datosUsuario.role === 'admin') {
            <button [routerLink]="['/asset-management/add-asset']" class="btn-agregar" aria-label="Agregar locación">
              <mat-icon>add</mat-icon>
            </button>
          }
        </div>
      </div>
    
      <div class="table-wrapper" style="margin-top: 10px;">
        @if (isLoading) {
          <div class="d-flex justify-content-center align-items-center my-5">
            <!-- From Uiverse.io by G4b413l --> 
            <div class="three-body">
              <div class="three-body__dot"></div>
              <div class="three-body__dot"></div>
              <div class="three-body__dot"></div>
            </div>
          </div>
        }
        @if (!isLoading) {
          <table class="table">
            
            <thead>
              <tr class="header-row">
                <th>NOMBRE</th>
                <th>MARCA</th>
                <th>MODELO</th>
                <th>NRO. SERIE</th>
                <th>TAG RFID</th>
                @if (datosUsuario.role === 'admin') {
                <th>ACCIONES</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (asset of assets; track $index) {
                <tr [class.alt-row]="$index % 2 !== 0">
                  <td>{{ asset.name }}</td>
                  <td>{{ asset.brand }}</td>
                  <td> {{asset.model}} </td>
                  <td> {{asset.seriaNumber}} </td>
                  <td>{{ asset.tagRfid }}</td>
                  @if (datosUsuario.role === 'admin') {
                  <td class="acciones">
                    <button class="btn-accion btn-editar" (click)="editarActivo(asset.id, asset.name, asset.brand, asset.model, asset.seriaNumber, asset.tagRfid, asset.idActiveType)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn-accion btn-eliminar" (click)="eliminarActivoConConfirmacion(asset.id, asset.name)">
                      @if (status) {
                        <mat-icon>visibility_off</mat-icon>
                      }
                      @else {
                        <mat-icon>visibility_on</mat-icon>
                      }                    
                    </button>
                    <button class="btn-ir">VER</button>
                  </td>
                }
                </tr>
              }
            </tbody>
          </table> 
        }
      </div>
    </div>
</app-skeleton>
    
